/*.launch
/deployment/
/packages/
/releases/
/.mendix-cache/
/.classpath
/.project
/example-validator-app.mpr.bak
/example-validator-app.mpr.lock
/modeler-merge-marker
/project-settings.user.json
/javasource/*/proxies/
/javasource/system/
/**/node_modules/
!/javascriptsource/**/node_modules/
/nativemobile/builds/
/example-mendix-validation-app.mpr.bak
/example-mendix-validation-app.mpr.lock
